body {
	background-color: #1c1c1c;
	font-family: Arial, Helvetica, sans-serif;
}
canvas {
	background-color: #222;
}
input {
	width: 1000px;
}
.label {
	color: #aaa;
	font-weight: bold;
}
div {
	margin-top: 10px;
}
